.dashboard {
    .body {
        display: flex;
        justify-content: space-evenly;
    }
    
    .line {
        background-color: #000000;
        width: 2px;
        height: 600px;
        margin: 50px 0;
    }

    .div-btn {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .down-right {
        position: absolute;
        right: 15px;
    }

    .choice {
        font-weight: bold;
        text-decoration: none;
        color: #333333;
    }

    .card-product {
        position: relative;
    }
    .missions {
        min-width: 500px;
    }

    .my_doppels{
        min-width: 500px;
    }
}

