// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "/offers/edit";
@import "/offers/show";



.search-bar {
    align-items: center;
    margin: 15px 0;
    .search-form-control {
        display: flex;
    }
    
    
}

.form-control{
    margin: 15px 15px;
} 