<div class="dashboard">
    <h2 style="margin: 30px auto;display: flex; justify-content: space-around;">My doppels activity</h2>
    <div class="body">
        
        <div class="my-doppels">
            <h3>Your reservations</h3>
            <div class="future">
            <%# Just demo change this with a each of the instance %>
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Cancel</a>
                    </div>
                </div>
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Cancel</a>
                    </div>
                </div>
            <%# until there %>
            </div>
            <h3>Your past Doppel bookings</h3>
            <div class="past">
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Leave a review</a>
                    </div>
                </div>
            </div>
            <div class="div-btn">
                <a class="btn btn-flat" href="/offers?utf8=✓&where=&when=&button=#index">Hire another Doppel</a>
            </div>
            
        </div>

        <div class="line">
        
        </div>
        <div class="missions">
            <h3>Your next missions</h3>
            <div class="validated">
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Cancel</a>
                    </div>
                </div>
            </div>
            <h3>These missions are  waiting for you!</h3>
            <div class="waiting">
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Accept</a>
                    </div>
                </div>
                <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                        <h2>Product name</h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                        <a href="#" class="down-right">Accept</a>
                    </div>
                </div>
            </div>
            <div class="div-btn">
                <% if current_user.offers.count == 0 %>
                    <a class="btn btn-flat" href="/offers/new">Create your offer</a>
                <% else %>
                    <%= link_to edit_offer_path(current_user) do%>
                        <p class="btn btn-flat">Edit</p>
                    <% end %>                    
                <% end %>
            </div>
            
        </div>
    </div>
</div>
