<!-- Banner set up -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(https://images.unsplash.com/photo-1499532744860-fb7526b66e7b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWxpZW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
  <h1>Find your <strong>Doppelgänger</strong> and<br>Start enjoying <strong>YOUR time!</strong></h1>
    <div class="search-bar py-3">
     <style>
      select:invalid { color: gray; }
    </style>
        <form novalidate="novalidate" class="simple_form search" action="offers#index" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="where" id="where" placeholder="Where"/>
             <select required class="dropdown-toggle2" id="when" name="when">
                <option value="" disabled selected hidden>When?</option>
                <option value="week end">Week end</option>
                <option value="semaine">Semaine</option>
                <option value="afterWork">AfterWork</option>
                <option value="every day">Every day</option>
             </select>
            <div class="btn-search"><%# modification du bouton search %>
              <button name="button" type="submit" class="btn btn-flat search-transparent-btn">
              <i class="fas fa-search"></i> Search
              </button>
            </div>
        </div>
        </form>
    </div>
  </div>
</div>

<!-- How does it work section  -->
<div class="container">
  <h1 class="text-center py-3">How does our Doppelgänger system works?</h1>
  <div class="cards d-flex justify-content-center">
        <div class="explanation-card col-4 mx-2 text-center">
            <h3 class="text-center"><i class="fas fa-user"></i></h3>
            <h3>Create your profile</h3>
            <p>Create your profile and fill up the information. After completion of your profile, our algorithm will match you up with a doppel that looks just like you! </p>
        </div>
            <div class="explanation-card col-4 mx-2 text-center">
                <h3 class="text-center"><i class="fab fa-searchengin text-center"></i></h3>
                <h3>Search your doppel</h3>
                <p>Press search to find the best doppels available in the world. Hire them for missions that ypou don't want to do!</p>
            </div>

        <div class="explanation-card col-4 mx-2 text-center">
            <h3><i class="far fa-laugh-wink"></i></h3>
            <h3>Enjoy freedom</h3>
            <p>This is it, now you can sit back, relax and finally do what you truly enjoy. Your doppels are busy replacing you. Don't forget to leave a review after the job is completed.</p>
        </div>
  </div>

<!-- Section Teaser -->
    <h2 class="text-center py-3">The dopplegangers you can hire</h2>
    <div class="examples">
       <div class="card-trip col-6">
        <img src="https://www.thesun.co.uk/wp-content/uploads/2020/09/NINTCHDBPICT000607616149.jpg?w=1240" />
        <div class="card-trip-infos">
            <div>
            <h2>Charles Darwin</h2>
            <p>Polymorphism is the nature of humans being, evolution has provided us with the tool to impersonate others so why not using it?</p>
            </div>
            <h2 class="card-trip-pricing">€889</h2>
        </div>
        </div>
        <div class="card-trip col-6">
        <img src="https://www.thesun.co.uk/wp-content/uploads/2020/09/NINTCHDBPICT000607616155.jpg?w=1240" />
        <div class="card-trip-infos">
            <div>
            <h2>Karl Lager</h2>
            <p>Doppeling is a passion for me, it started pretty young, when I used to dress up like my twin sister to get candies.</p>
            </div>
            <h2 class="card-trip-pricing">€93.99</h2>
        </div>
        </div>
    </div>
</div>

