<div class="banner">
  <div class="container">
  <h1>Find your <strong>Doppelgänger</strong> and</h1>
    <h2>Stop doing things you don’t enjoy to !</h2>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <div class="search-bar">
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="where" placeholder="Where"/>
            <input class="form-control string required" type="text" name="search[query]" id="when" placeholder="When"/>
            <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
            </button>
        </div>
        </form>
    </div>
  </div>
</div>
    
<div class="container">
    <div class="presentation">
        <div class="explanation-card">
            <img src="" alt="">
            <h3>Create your profile</h3>
        </div>
        <div class="middle">
            <h1>How does it work ?</h1>
            <div class="explanation-card">
                <img src="" alt="">
                <h3>Search your doppel</h3>
            </div>
        </div>
        <div class="explanation-card">
            <img src="" alt="">
            <h3>Enjoy freedom</h3>
        </div>
    </div>

    <h2>The dopplegangers you can hire</h2>
    <div class="examples">
       <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
            <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
        </div>
        </div>
        <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
            <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
        </div>
        </div>
    </div>
</div>


