.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #666666;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background: #555555;
    color: white;
  }

  .edit-btn {
    display: block;
    text-decoration: none;
    background-color: #666666;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .edit-btn:hover {
    background: #555555;
    color: white;
  }
  