.grey-button {
  background-color: gray;
  border-radius: 8px;
  box-shadow: gray;
}

.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #EB7316;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #555555;
    color: white;
  }

  .btn-search .search-transparent-btn {
    background-color:#EB7316;
    right: -130px;
    border-radius: 25px;
    top: 1px;
    height: 3.5rem;
  }
.search-transparent-btn:hover {
  opacity: 0.8;
  color:white;
  filter: contrast(1.75);

}
.dropdown-toggle2{
  background-color: #c3c3c3;
  right: -130px;
  border-radius: 25px;
  top: 1px;
  height: 3.5rem;
  width: 600px;
}

.dropdown-toggle3{
  background-color: #c3c3c3;
  right: -130px;
  border-radius: 25px;
  top: 1px;
  height: 3.5rem;
  width: 1200px;
  margin: 15px;
  border: 1px solid #E7E7E7;
 
}

.btn-search .search-transparent-btn1 {
  background-color:#526d6e;
  right: -130px;
  border-radius: 25px;
  top: 1px;
  height: 3.5rem;
  margin: 13px;
}
