.container_edit{
  display: flex;
  justify-content: center;
}

.container_edit h1{
  justify-content: center;
}

.form_edit{
  width: 800px;
  position: relative;

}
.form_edit a{
  position: absolute;
  right: 0;
}